In [1]:
#1 WAP to check whether a number is positive or negative. If Positive print positive 
#message or else print Negative Number.
n=-3
if n>0:
    print("positive")
else:
    print("negative")

negative

In [ ]:
#2 WAP to check whether a number is even or odd. If even, print message an even 
#or else print message as odd.
n=34
if n%2==0:
    print("even")
else:
    print("odd")

In [ ]:
#3 Write a program to check whether a given number is greater than 10 or not. if it 
#is greater than 10 print message as greater or else print that number with not a 
#greater than.
n=20
if n>10:
    print("greater")
else:
    print("not greater")

In [ ]:
#4 WAP to check whether the given two input numbers are divisible by 3 and 5. If it 
#is divisible, print “Good Morning”, if it is not divisible print “Good Evening”.
n=15
s=30
if n%3==0 and n%5==0 and s%3==0 and s%5==0:
    print("goog morning")
else:
    print("good evening")

In [ ]:
#5 WAP to accept two integers and check whether those two values are equal or not.
#If equal, multiply to value or else to display the quotation value.
n=20
m=21
if n==m:
    print(n*m)
else:
    print(str("n"),('m'))

In [ ]:
#6 WAP to find the largest of two numbers.
n=20
m=30
if n>m:
    print("largest")
else:
    print("not largest")

In [ ]:
#7 WAP to check whether the input number is greater than 10 or not if it is greater 
#than 10 print messages as greater with number. if it is not a greater than 10 print 
#that number.
n=7
if n>10:
    print("greater")
else:
    print("not greater")

In [ ]:
#8 WAP to the given number integer, if n is greater than 21,print the absolute 
#difference between n and 21 otherwise print twice the absolute difference.
n=10
if n>21:
    print(abs(n))
else:
    print(abs(n)*2)

In [ ]:
#9 WAP to find the smallest of two numbers.
n=10
m=20
if n<m:
    print("smallest")
else:
    print("not smallest")

In [ ]:
#10 WAP to check whether the given number is even or odd. If it is even then make 
#it as an add number, if it is an odd number then make it as even number.
n=20
if n%2==0:
    print(n+1)
else:
    print(n-1)

In [ ]:
#11 WAP to check whether the given number is divisible by 3 or not if yes, print the 
#number or else print the cube of the numbers.
n=15
if n%3==0:
    print(n)
else:
    print(n**3)

In [ ]:
#12 WAP to check whether the given input is divisible by 3 and 5. If yes print the 
#actual number or else print string of that number.
n=10
m=30
if n%3==0 and n%5==0:
    print(n,m)
else:
    print(str(n),str(m))

In [ ]:
#13 WAP to check whether the given number lies between 1 to 19, if it is true square 
#that number or else false cube that number and display the number.
n=15
if 1<=n<=19:
    print(15**2)
else:
    print(n**3)

225

In [ ]:
#14 WAP to check whether the student has passed or failed. If the student got more 
#than 40 marks, print ‘PASS’ along with those marks, if it is not printed ‘FAIL’ along 
#with those marks.
n=80
if n>40:
    print("PASS")
else:
    print("FAIL")

In [ ]:
#15 WAP to check whether a given value is even and in range of 47 to 58 and not in 0 
#or odd. if condition is True, to perform display the ascii character. or else to 
#perform floor division with 5 and display it.
n=52
if 47<=n<58 and n!=0 or n%2!=0:
    print(chr(n))
else:
    print(n//5)

In [4]:
#16 WAP to check whether a given value is less than 125 and in between 47 to 125 or 
#not. if condition is True, to perform store the given value as key and value as a 
#character into the dict or else to append the value in list and display it.
a=50
b={}
if 47<a<125:
    b[a]=chr(a)
    print(b)
else:
    d=[20,30]
    d+=a
    print(d)

{50: '2'}

In [11]:
#17 WAP to check whether a given character is in the alphabet or not. if 
#alphabet, display the alphabet with character or else display the not
#alphabet withcharacter.
v='D'
if 'a'<=v<='z' or 'A'<=v<='Z':
    print("character",v)
else:
    print("not alphabet",v)

character D

In [15]:
#18 WAP to check whether a given character is uppercase or other 
#character. if uppercase, display the uppercase with character or else
#display the othercharacter with character.
n='a'
if 'A'<=n<='Z':
    print(n)
else:
    print(n)

a

In [14]:
#19 WAP to check whether a given character is lowercase or other 
#character. if lowercase, display the lowercase with character or else
#display the other character with character.
n='A'
if 'a'<=n<='z':
    print(n)
else:
    print(n)

A

In [17]:
#20 WAP to check whether a given character is uppercase or other
#character. ifuppercase, convert to lowercase .or else display the ascii
#number.
n='A'
if 'A'<=n<='Z':
    print(chr(ord(n)+32))
else:
    print(ord(n))

a

In [54]:
#21 WAP to check whether the given character is in lowercase or 
#uppercase. If it isin lowercase, convert it into uppercase, or else it is in 
#uppercase and convert itinto lowercase. Display the value
n='D'
if 'A'<=n<='Z':
    print(chr(ord(n)+32))
else:
    print(chr(ord(n)-32))

d

In [56]:
#22 WAP to check whether the given string of the first character is a special
#symbol or not. If a special symbol, to extract and display the middle
#character or else toreverse the string and display the half of the string
n='nandini'
if n[0]==('A'<=n<='Z' and 'a'<=n<='z' and '0'<=n<='9'):
    print(n[len(n)//2])
else:
    v=n[::-1]
    print(v[:len(v)//2:])

ini

In [30]:
#23 WAP to check whether the input character is a vowel or not. If it is
#vowel print‘VOWEL’ along with that character, if it is not just print
#‘CONSONANT’.
n='a'
if n in 'aeiouAEIOU':
    print("vowel")
else:
    print("consonant")

vowel

In [33]:
#24 WAP to check whether a given character is a vowel or consonant. if
#vowel, toprint the next character of a given character or else print
#previous characters.
n='s'
if n in 'aeiouAEIOU':
    print(chr(ord(n)+1))
else:
    print(chr(ord(n)-1))

r

In [37]:
#25 WAP to check whether a given string of first character is alphabet or not
#if the alphabet prints, reverse the string or else print the middle character.
n='alphabet'
if n[0]==('A'<=n<='Z' or 'a'<=n<='z' or '0'<=n<='9'):
    v=n[::-1]
    print(v)
else:
    print(n[len(n)//2])

a

In [53]:
#26 WAP to check whether the given input character is uppercase or
#lowercase. Ifthe input character is upper case convert into lower case and
#vice versa
n='d'
if 'A'<=n<='Z':
    print(chr(ord(n)+32))
else:
    print(chr(ord(n)-32))

D

In [52]:
#27 WAP to check whether a given string is less than 3 characters, to print the
#entirestring otherwise to print after third positions to the remaining
#string.
a='haihello'
if len(a)<3:
    print(a[::1])
else:
    print(a[2+1::])

hello

In [47]:
#28 WAP to check whether a given length of the string is even or not. if
#even, toappend the new string called "bye" or else print the first and last
#characters
a='haii'
if len(a)%2==0:
    a+='bye'
    print(a)
else:
    print(a[0]+a[-1])

haiibye

In [51]:
#29 WAP to check whether a given length of the string is odd or not. if odd, to 
#append the new string("Haii") from the starting of the given string, or else 
#to avoid the starting character and ending character of the given
a='bye'
if len(a)%2!=0:
    a='haii'+a
    print(a)
else:
    print(a[::1])

haiibye

In [64]:
#30 WAP to check whether the last of the given string is a special character or 
#not, if the special character prints reverse the string except the last 
#character or else to check if the length of the string is odd or not, if odd to
#extract the middle character to the end of the string.
a='abcd$'
if a[-1] != ('a'<=a<='b' or 'A'<=a<='B' or '0'<=a<='9'):
    print(a[-2::-1])
elif len(a)%2!=0:
        print(a[len(a)//2:])

dcba

In [58]:
#31 WAP to check whether a given year is a leap year or not. if leap year,
#print leapyear or else not a leap year
n=2020
if n%4==0:
    print('leap year')
else:
    print('not leap year')

leap year

In [59]:
#32 WAP to find out the greatest of two numbers and display the greatest
#number. ifthe greatest number, display the greatest message with value
n=20
m=30
if n>m:
    print(n)
else:
    print(m)

30

In [65]:
#33 WAP to check whether the given value is present inside the given 
#collection ornot.if value is present, display the value is available or else 
#the value is not present.
a=[10,20,30,40,50]
b=10
if b in a:
    print('value is available')
else:
    print('value is not available')

value is available

In [71]:
#34 WAP whether a given string, if string length is more than 2, then it displays 
#a new string with the first and last characters switched, otherwise the 
#display the 3 copies of given string.
n='nandini'
if len(n)>2:
    print(chr(ord(n[-1]))+n[1:len(n)-1]+chr(ord(n[0])))
else:
    print(n*3)

iandinn

In [74]:
#35 WAP to check whether a given value is a list and first and last values 
#should beinteger if condition is satisfied first value is True division by 3
#and perform the bitwise not for last value and those result values are
#stored in same positions in given list or else, to perform length of the 
#collection power by 2 and display value.
a=[10,20,30,40]
if type(a)==list and type(a[0])==int and type(a[-1])==int:
    a[0]=a[0]/3
    a[-1]=~a[-1]
    print(a)
else:
    print(len(a)**2)

[3.3333333333333335, 20, 30, -41]

In [77]:
#36 WAP to check whether a given value is a string or not and length of the 
#value should be more than 7, if condition is satisfied to append the new 
#string in the middle of the given string or else to perform the replications 
#with 3 and display the result.
a='abcdefgh'
if type(a)==str and len(a)>7 :
    print(a[0:len(a)//2]+'new'+a[len(a)//2:])
else:
    print(a*3)

abcdnewefgh

In [87]:
#37 WAP to check if the given string of first and second character should be 
#sequence or not. if the sequence prints the first, second and last two
#characters, or else thefirst half string is reversed and the remaining half 
#string should be normal anddisplay it.
a='accdefgh'
if ord(a[0])+1==ord(a[1]):
    print(a[0:2]+a[6:])
else:
    print(a[0:len(a)//2][::-1]+a[len(a)//2:])

dccaefgh

In [112]:
#40 WAP to check whether a given collection is set or not. if set, append the 
#new value, or else eliminate the duplicate values in collection. final
#results should beset type.
a={1,2,3,4,5,6}
if type(a)==set:
    a|={7}
    print(a)
else:
    print(set(a))

{1, 2, 3, 4, 5, 6, 7}

In [113]:
#41 WAP to read the age of a candidate and determine whether it is eligible 
#for his/her own vote or not.it eligible print age and eligible messages or 
#else printnot eligible
n=18
if n>=18:
    print(n,"eligible")
else:
    print("not eligible")

18 eligible

In [119]:
#42 WAP to check whether a given value is even and in between 47 to 58 and
#not in0 or odd. if condition is True, to perform display the ascii character 
#or else to perform floor division with 5 and display it.
n=51
if n!=0 or n%2!=0 :
    print(chr(n))
else:
    print(n//5)

3

In [4]:
#43 WAP to check whether the given string is palindrome or not if it is a 
#palindrome string palindrome along with the string if it is not a
#palindrome print not palindrome
h='mom'
if h[::1]==h[::-1]:
    print(h,"palidrome")
else:
    print('not palidrome')

mom palidrome

In [33]:
#44  WAP to check whether a given number is palindrome or not. If
#palindrome,display the given value as a palindrome or else not a
#palindrome.
n='777'
if n==n[::-1]:
    print(n)
else:
    print('not palidrome')

777

In [7]:
#45 WAP to check length of both string collections are equal or not. if both
#are equalprint the concat the two strings and display, or else if any one 
#of the collectionnot equal print both the collections with lengths
n='qspiders'
m='pyspiders'
if len(n)==len(m):
    e=n+m
    print(e)
else:
    print(n,m,len(n),len(m))

qspiders pyspiders 8 9

In [16]:
#46 WAP to check whether both given values point to the same memory 
#location or not. if it is true print the middle item of the second collection, or 
#else if it is false print the first item and last item of the first collection along 
#with the memory address.
n=[1,2,3,4,5]
m=[1,2,3,4,5]
if id(n)==id(m):
    print(m[len(m)//2])
else:
    print(m[0],m[-1],id(m))

1 5 2533836322560

In [9]:
#47 WAP to check whether a given string collection is more than ten, and the
#first + last character of the ascii values should be divisible by 5, if
#condition is satisfiedprint first, middle, last characters ASCII values or 
#else print the string three times.
n='abcdefghij'
if len(n)>10 and ord(n[0])+ord(n[-1])%5==0 :
    print(ord(n[0],ord[len(n)//2],ord(n[-1])))
else:
    print(n*3)

abcdefghijabcdefghijabcdefghij

In [10]:
#48 WAP to check whether the middle of the item present in the list is string 
#data type or not if it is string print that list or else if it is not string then 
#print that middle item.
n=[10,20,'a',30,40]
if type(n[len(n)//2])==str:
    print(n)
else:
    print(n[len(n)//2])

[10, 20, 'a', 30, 40]

In [12]:
#49 WAP Given a string, return a new string where the first and last
#characters havebeen exchanged.
n='abcdef'
if type(n)==str:
    print(chr(ord(n[-1]))+n[1:len(n)-1:]+chr(ord(n[0])))

fbcdea

In [13]:
#50 Write a program to find out such numbers which are divisible by 7 but are 
#not a multiple of 5. Both the conditional is satisfied and print actual value.
#if one condition is not satisfied actual number is multiply by 4 and print
#result
n=14
if n%7==0 and n%5!=0 :
    print(n)
else:
    print(n*4)

14

In [2]:
#51 WAP to check whether two values are pointing to the same memory 
#address or not. If the same memory displays the address or else displays 
#the two values addresses.
n=20
m=20
if id(n)==id(m):
    print(id(n),id(m))
else:
    print(id(n),id(m))

2675769672528 2675769672528

In [3]:
#52 WAP to check whether a given input character is a special symbol or not if 
#it is a special symbol then print that character three times and tell print 
#that character 5 times.
n='$'
if not ('a'<=n<='z' and 'A'<=n<='Z' and '0'<=n<='9'):
    print(n*3)
else:
    print(n*5)

$$$

In [4]:
#53 WAP to check length of both string collections equal or not if it is equal
#print theconnection of any one of the collections if it is not equal print
#both the collection.
n='qwer'
m='tyui'
if len(n)==len(m):
    print(n)
else:
    print(n,m)

qwer

In [6]:
#54WAP To check whether both input variables point to the same memory 
#location or not if it is true print the last item of the second collection, if it is 
#false print the first item of the first collection along with the memory
#address.
n='asdf'
m='qwer'
if id(n)==id(m):
    print(m[-1])
else:
    print(n[0],id(n))

a 2675843479920

In [17]:
#55 WAP to print the string collection five times when the length of the 
#string collection should be more than 3 and the middle character of the 
#string shouldbe vowel and the first character ASCII value should be even, 
#to print the previous character of middle character, or else if ASCII value
#is odd then print the stringthree times as print that string.
n='biuou'
if len(n)>3 and n[len(n)//2] in 'aeiou' and ord(n[0])%2==0:
    g=chr(ord(n[len(n)//2])-1)
    print(g)
else:
    print(n*3)

t

In [29]:
#56 Ravi would like to buy a new cello or red pen. The cost of the pen should
#be 10.If the pen is available in the shop, he will buy the pen. If it is not 
#there he will come out of the shop.
n="cello pen"
m=10
if m%10==0 and n in ('cello pen','red pen'):
    print('he will buy the pen')
else:
    print('come out of the shop')

he will buy the pen

In [23]:
#57  WAP to perform addition and subtraction operation by using list collection 
#if the first and middle data items number are even performing addition
#operation, orelse performing subtraction.
n=[10,20,30,4,5]
if n[0]%2==0 and n[len(n)//2]%2==0:
    print(n[0]+n[len(n)//2])
else:
    print(n[0]-n[len(n)//2])

40

In [25]:
#58 WAP to check whether the first item of these two lists is either integer
#or not.If it is an integer, concatenate these two lists or else print the
#memoryaddress of these two lists
n=[1,2,3]
m=[4,5,6]
if type(n[0] and m[0])==int:
    n+=m
    print(n)
else:
    print(id(n),id(m))

[1, 2, 3, 4, 5, 6]

In [10]:
# find if given value div by 2 ,14,28,print my name else print even num 
n=28
if n%2==0 and n%14==0 and n%28==0:
    print('nandini')
else:
    n=8
    n%2==0
    print(n)

nandini

In [3]:
# check wheather the given value is presentin dict or not if present change the val into 10 
n={'a':100,'b':20,'c':30}
v=100
if v in n.values():
    n['a']=10
    print(n)

{'a': 10, 'b': 20, 'c': 30}

In [5]:
# perform add and sub opr by using listof coll if first and middle data items are even per add else per sub
n=[10,20,30,40,50]
if (n[0] and n[len(n)//2])%2==0:
    v=[100,200]
    print(n+v)
else:
    print(n-v)

[10, 20, 30, 40, 50, 100, 200]

In [6]:
# leap year or not 
n=2020
if  n%4==0:
    print('leap year')
else:
    print("not a leap year")

leap year

Nested if conditions

In [12]:
a=b'1010'
b=b'1011'
s=" "
if a==b:
    if type(a)==list and type(b)==list:
        a+=b
        print(a)
elif type(a)==dict and type(b)==dict:
     a['c']=b
     print(a)
     if a!=b:
          a|=b
          print(a)
elif type(a) in [int,float] and type(b) in [int,float]:
     print(a*b)
elif type(a)==bool or type(a)==None or type(b)==bool or type(b)==None:
     s+=str(a)
     print(s,type(s))
elif type(a)==complex and type(b)==complex :
      a=a.imag
      b=b.imag
      print(a,b)
elif type(a)==bytes or type(b)==bytes :
     a=list(a)
     b=list(b)   
     print(a,b)

[49, 48, 49, 48] [49, 48, 49, 49]

In [63]:
a=True
b=None
if type(a)==type(b) and type(a) in [list,str,tuple,dict,set] and type(b) in [list,str,tuple,dict,set]:
    if type(a)==list and type(b)==list:
        a+=b
        print(a)
    else:
        res=list(a)+list(b)
        print(res)
elif type(a)==dict and type(b)==dict:
    a['f']=20
    print(a)
elif type(a)!=type(b) and type(a) in [list,str,tuple,set,dict] and type(b) in [list,str,tuple,set,dict]:
    res=list(a)+list(b)
    print(res)
elif type(a) in [float,int,complex] and type(b) in [float,int,complex]:
    res=a*b
    print(res)
elif type(a) in [bool,type(None)] or type(b) in [bool,type(None)]:
    a=list(a)
    b=list(b)
    print(a,b)

TypeError: 'bool' object is not iterable

In [43]:
q={'a':21,'d':45,'t':35}
e={'w':23,'r':87,'y':56}
if type(q)==dict and type(e)==dict:
    q['d']=87
    print(q)

{'a': 21, 'd': 87, 't': 35}

In [20]:
w=0+3j
b=0+4j
print(w,b)

3j 4j

In [9]:
a=10
b=20
s=""
s+=str(a)+str(b)
print(str(s))

1020

In [35]:
a={'c':10}
b={'d':10}
print(id(a),id(b))
a['c']=b
print(a)
print(id(a))

1640350364480 1640348187456
{'c': {'d': 10}}
1640350364480

In [1]:
n=20
match n:
    case 10:
        print("hai")
    case 20:
        print("happy")
    case 30:
        print("still happy")

happy

In [1]:
n=23
if n%2==0:
    print("even")
else:
    print("odd")

odd

In [3]:
n=67
m=46
if n>m:
    print(n)
else:
    print(m)

67

while loop statements

In [16]:
n=2345                      
start=0
res=str(n)
while n:                
    print(res[start])
    start+=1
    n=n//10

2
3
4
5

In [1]:
n=2345                      
start=0
res=str(n)
while n:                
    print(res[start])
    start+=1
    n=n//10

2
3
4
5

In [8]:
n=1235
start=0
n=str(n)
while start < len(n):  #0<4 true print[0]=1
    print(n[start])   #0+1=1 true print[1]=2
    start+=1            #1+1=2 true pri[2]=3
                        #2+1=3 true pri[3]=5

1
2
3
5

In [9]:
n=1234
res=n//1000
print(res)
num=(n%10)
print(num)

1
4

In [5]:
n=3
if n%2!=0:
    print(n)

3

In [9]:
n=1235
start=0
n=str(n)
while start < len(n):  #0<4 true print[0]=1
    print(n[start])   #0+1=1 true print[1]=2
    start+=1            #1+1=2 true pri[2]=3
                        #2+1=3 true pri[3]=5

1
2
3
5

In [11]:
n=4546787
res=0
while n:
    ld=n%10
    res+=ld
    n=n//10
print(res)

41

In [40]:
n=5456788
res=9
while n:
    ld=n%10
    if res>ld:
        res=ld
    n=n//10
print(res)

4

In [ ]:
n=345346
t=str(n)
res=int(t[0])
i=1
while i<len(t):
    res-=int(t[i])
    i+=1
print(res)

-19

In [45]:
n=2345778
res=0
while n:
    ld=n%10
    if res<ld and ld%2==0:
        res=ld
    n=n//10
print(res)

8

In [80]:
n=344567
res=0
while n:
    ld=n%10
    if ld%2==0:
        res+=ld
    n=n//10
print(res)

14

In [1]:
n=123456
res=9
while n:
    ld=n%10
    if res>ld:
        res=ld
    n=n//10
print(res)

1

In [32]:
m=10
n=20
res=0
while m<=n:
    print(m)
    m+=1

10
11
12
13
14
15
16
17
18
19
20

In [54]:
m=1
n=6
while m<=n:
    if m%n==0:
        print(m)
    m+=1

6

In [42]:
m=1
n=5
count=0
while m<=n:
    if n%m==0:
        count+=1
    m+=1
print(count)

2

In [55]:
n=4567678
res=1
while n:
    ld=n%10
    res*=ld
    n=n//10
print(res)

282240

In [21]:
m=1
n=4
count=0
while m<=n:
    if n%m==0:
        count+=1
    m+=1
print(count)
if count==2:
    print("prime")
else:
    print("not prime")

3
not prime

In [74]:
m=1
n=6
count=0
while m<=n:
    if n%m==0:
        count+=1
    m+=1
print(count)

4

while loops

In [3]:
#1 print hello world 5 times with while loop
n="hello world"
start=1
end=5
while start<=end:
    print(n)
    start+=1

hello world
hello world
hello world
hello world
hello world

In [4]:
#2 WAP to print the number from 1 to 10 by using a while loop.
start=1
end=10
while start<=end:
    print(start)
    start+=1

1
2
3
4
5
6
7
8
9
10

In [16]:
#3 WAP to print the natural number until 1 to nth times by using a while loop.
m=1
n=5
while m<=n:
    print(m)
    m+=1

1
2
3
4
5

In [75]:
#4 WAP to print the reverse of the natural number nth to 0 times by using a while loop
n=15
m=1
while m<=n:
    print(n)
    n-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
#5 whole numbers until n times
n=0
m=10
while n<=m:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#6 rev of whole num
n=0
m=10
while m>=n:
    print(m)
    m-=1

10
9
8
7
6
5
4
3
2
1
0

In [50]:
#7 WAP to print the even number until nth times by using a while loop.
n=10
m=0
while m<=n:
    if m%2==0:
        print(m)
    m+=1

0
2
4
6
8
10

In [4]:
#8 WAP to print the even number in rev until nth times by using a while loop.
n=10
m=0
while n>=m:
    if n%2==0:
        print(n)
    n-=1

10
8
6
4
2
0

In [5]:
#9 WAP to print the odd number until nth times by using a while loop.
n=10
m=0
while m<=n:
    if m%2!=0:
        print(m)
    m+=1

1
3
5
7
9

In [8]:
#10 WAP to print the odd number in rev until nth times by using a while loop.
n=10
m=0
while n>=m:
    if n%2!=0:
        print(n)
    n-=1

9
7
5
3
1

In [14]:
#11 table format
n=5 
m=1
while m<=10:
        print(n,"*",m,"=",n*m)
        m+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [20]:
#12 table format in rev
n=5 
m=1
while m>=10:
        print(m,"*",n,"=",n*m)
        m-=1

In [22]:
#13 div by 3 from 26 t0 66
n=26
m=66
while n<=m:
    if n%3==0:
        print(n)
    n+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [65]:
#14 WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.
n=15
m=76
while n<=m:
    if n%3==0 and n%5==0:
        print(n)
    n+=1

15
30
45
60
75

In [68]:
#15 WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.
n=77
m=22
while n>=m:
    if n%5==0 and n%7==0:
        print(n)
    n-=1

70
35

In [4]:
# 17 WAP to print sum of the 1 to nth natural numbers.
n = 6
sum = 0
i = 1
while i<=n:
  sum = sum+i
  i+=1

print(sum)

21

In [5]:
#18 WAP to print sum of the even numbers 1 to 20 numbers.
n=20
i=1
sum=0
while i<=n:
    if i%2==0:
        sum+=i
    i+=1
print(sum)

110

In [1]:
#19 WAP to print products of the 1 to 6 numbers.
i=1
pro=1
while i<=6:
    pro*=i
    i+=1
print(pro)

720

In [2]:
#20 WAP to count the no of odd values from 1 to 30 numbers.
n=1
count=0
while n<=30:
    if n%2!=0:
        count+=1
    n+=1    
print(count)

15

In [4]:
#21  factors in given number
m=1
n=6
while m<=n:
    if n%m==0:
        print(m)
    m+=1

1
2
3
6

In [33]:
#22  sum of all factors in given number
m=1
n=6
sum=0
while m<=n:
    if n%m==0:
        sum+=m
    m+=1
print(sum)

12

In [34]:
#23 product of all factors in given number
m=1
n=6
pro=1
while m<=n:
    if n%m==0:
        pro*=m
    m+=1
print(pro)

36

In [36]:
#24 fibonacci
a=0
b=1
n=10
while n:
    c=a+b
    print(c)
    a,b=b,c
    n-=1

1
2
3
5
8
13
21
34
55
89

In [ ]:
#25 #factorial
n=6
m=1
prod=1
while m<=n:
    if n%m==0:
        prod*=m
    m+=1
print(prod)

In [29]:
#sum of all the digits in the number check final result is prime or not
n=7
m=1
sum=0
while m<=n:
    sum+=m
    m+=1
print(sum)  
if sum==2:
    print('prime')
else:
    print('not prime')

28
not prime

In [40]:
#product of all digits
m=1
n=6
res=1
while m<=n:
    res*=m
    m+=1
print(res)
if res==n:
    print("perfect number")
else:
    print("not a perfect number")

720
not a perfect number

In [1]:
n=6
m=1
s=1
while m<=n:
    s*=m
    m+=1
print(s)

720

In [7]:
#
n=145
c=0
temp=n
while n:
    ld=n%10
    m=1
    i=1
    while m<=ld:
        i*=m
        m+=1
    c+=i
    n=n//10
print(c)
if temp==c:
    print("strong")
else:
    print("not strong")

145
strong

In [35]:
#fibonacci
a=0
b=1
n=10
while n:
    c=a+b
    print(c)
    a,b=b,c
    n-=1

1
2
3
5
8
13
21
34
55
89

In [51]:
#factorial
n=6
m=1
prod=1
while m<=n:
    prod*=m
    m+=1
print(prod)

720

In [57]:
#26 factorial in range
n=10
m=1
while m<=n:
    a=m
    b=1
    prod=1
    while b<=a:
        prod*=b
        b+=1
    print(m,prod)
    m+=1

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800

In [65]:
#27 prime or not
n=6
m=1
count=1
while m<=n:
    if n%m==0:
        count+=1
    m+=1
print(count)
if count==2:
    print(count,"prime")
else:
    print("not prime")

5
not prime

In [69]:
#28 seq of prime numbers
n=20
m=1
while m<=n:
    a=m
    y=1
    count=0
    while y<=a:
        if a%y==0:
            count+=1
        y+=1
    if count==2:
        print(a)
    m+=1

2
3
5
7
11
13
17
19

In [ ]:
#29 armstrong

In [1]:
a=0
m=10
b=1
count=0
while m:
    c=a+b
    print(c)
    a,b=b,c
    m-=1

1
2
3
5
8
13
21
34
55
89

In [ ]:
n='A'
m='D'
while n<=m:
    n+=1

In [ ]:
#fibonacci
a=0
b=1
n=5
while n:
    c=a+b
    print(c)
    a,b=b,c
    n-=1

In [6]:
n=157
sum=0
temp=n
while n>0:
    ld=n%10
    sum+=ld**3
    n=n//10
print(n)

0

In [7]:
#
n=145
c=0
temp=n
while n:
    ld=n%10
    m=1
    i=1
    while m<=ld:
        i*=m
        m+=1
    c+=i
    n=n//10
print(c)
if temp==c:
    print("strong")
else:
    print("not strong")

145
strong

In [50]:
#sum of given num and extract the factors of result
n=55
s=0
while n:
    ln=n%10
    s+=ln
    n=n//10
m=1
while m<=s:
    if s%m==0:
        print(m)
    m+=1

1
2
5
10

In [63]:
#check it is prime or not
n=10
m=1
count=0
while m<=n:
    if n%m==0:
        count+=1
    m+=1
print(count) 
if count==2:
    print("prime")
else:
    print("not prime")

4
not prime

In [60]:
#seq of prime numbers
n=20
m=1
while m<=n:
    a=m
    y=1
    count=0
    while y<=a:
        if a%y==0:
            count+=1
        y+=1
    if count==2:
        print(a)
    m+=1

2
3
5
7
11
13
17
19

In [70]:
#even factors of given number
n=62
m=1
while m<=n:
    if n%m==0 and m%2==0:
        print(m)
    m+=1

2
62

In [96]:
#armstrong
n=153
temp=n
count=0
sum=0
while n:
    ld=n%10
    sum=ld**count+sum
    n=n//10
while temp:
    ln=temp%10
    count+=ln
    temp//=10
print(sum)

3

In [77]:
n=1344566
count=0
while n:
    ld=n%10
    count+=1
    n=n//10
print(count)

7

In [84]:
n=123
temp=n
sum=0
prod=1
while n:
    ld=n%10
    sum+=ld
    n=n//10
print(sum)
while temp:
    res=temp%10
    prod*=res
    temp=temp//10
print(prod)
if sum==prod:
    print("spynumber")
else:
    print("not spynumber")

6
6
spynumber

In [87]:
#factorial seq
a=1
b=10
while a<=b:
    x=1
    y=a
    prod=1
    while x<=y:
        prod*=x
        x+=1
    print(a,prod)
    a+=1

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800

In [13]:
#sum
n=1998
sum=0
sum1=0
while n:
    ld=n%10
    sum+=ld
    n=n//10
    while sum:
        ln=sum%10
        sum1+=ln
        sum=sum//10
print(sum1)

27

In [34]:
n=46788843
count=0
while n:
    ld=n%10
    count+=1
    n=n//10
    s=n
print(count)

8

In [19]:
#extract middle digit
n=3456789
count=0
while n:
    ld=n%10
    count+=1
    ln=n//(10**count//2)%10
    print(ln)
    n=n//10

7
3
9
0
0
0
0

In [12]:
n=18956468
temp=n
count=0
while n:
    ld=n%10
    count+=1
    n=n//10
print(count)
count//=2
while count:
    temp=temp//10
    count-=1
print(temp%10)

8
5

In [1]:
#triangular
limit = 50
number = 1
triangular = 0
while triangular <= limit:
    print(triangular)
    triangular += number
    number += 1

0
1
3
6
10
15
21
28
36
45

In [5]:
#wap to check the given value is armstrong or not ifyes to print the non prime numbers till the results
n=153
temp=n
count=0
while temp:
    count+=1
    temp=temp//10
sum=0
res=n
while res:
    ld=res%10
    sum=(ld**count)+sum
    res=res//10
if n==sum:
    start=n
    end=1
    while start>=end:
        i=1
        j=start
        count1=0
        while i<=j:
            if j%i==0:
                count1+=1
            i+=1
        if count1!=2:
            print(j)
        start-=1

153
152
150
148
147
146
145
144
143
142
141
140
138
136
135
134
133
132
130
129
128
126
125
124
123
122
121
120
119
118
117
116
115
114
112
111
110
108
106
105
104
102
100
99
98
96
95
94
93
92
91
90
88
87
86
85
84
82
81
80
78
77
76
75
74
72
70
69
68
66
65
64
63
62
60
58
57
56
55
54
52
51
50
49
48
46
45
44
42
40
39
38
36
35
34
33
32
30
28
27
26
25
24
22
21
20
18
16
15
14
12
10
9
8
6
4
1

In [6]:
#wap to check the given value is armstrong or not ifyes to print the non prime numbers till the results
n=153
temp=n
count=0
while temp:
    count+=1
    temp=temp//10
sum=0
res=n
while res:
    ld=res%10
    sum=(ld**count)+sum
    res=res//10
if n==sum:
    start=1
    end=n
    while start<=end:
        i=1
        j=start
        count1=0
        while i<=j:
            if j%i==0:
                count1+=1
            i+=1
        if count1!=2:
            print(j)
        start+=1

1
4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50
51
52
54
55
56
57
58
60
62
63
64
65
66
68
69
70
72
74
75
76
77
78
80
81
82
84
85
86
87
88
90
91
92
93
94
95
96
98
99
100
102
104
105
106
108
110
111
112
114
115
116
117
118
119
120
121
122
123
124
125
126
128
129
130
132
133
134
135
136
138
140
141
142
143
144
145
146
147
148
150
152
153

In [21]:
#seq of prime numbers
n=20
m=1
while m<=n:
    a=m
    y=1
    count=0
    while y<=a:
        if a%y==0:
            count+=1
        y+=1
    if count==2:
        print(a)
    m+=1

2
3
5
7
11
13
17
19

In [2]:
n='python'
start=0
end=len(n)
count=0
while start<=end:
    count+=1
    start+=1
print(count)

7

In [ ]:
n='python'
start=0
end=len(n)
count=0
while start<=end:
    count+=1
    start+=1
print(count)

In [2]:
#check password is valid or not
n='#$srgWER874'
start=0
end=len(n)
uc,lc,an,sp=0,0,0,0
if 8<=len(n)<=16:
    while start<end:
        count=2
        if 'A'<=n[start]<='Z':
            uc+=1
        elif 'a'<=n[start]<='z':
            lc+=1
        elif '0'<=n[start]<='9':
            an+=1
        else:
            sp+=1
        start+=1
    if uc>=2 and lc>=1 and sp>=2 and an>=1:
        print("valid",n)
    else:
        print("invalid")
else:
    print("invalid")

valid #$srgWER874

In [5]:
st='pyspider@gmail.co.edu'
x=0
temp=0
while x<len(st):
    if not('A'<=st[x]<='Z' or 'a'<=st[x]<='z' or '0'<=st[x]<='9' or st[x] in '@.'):
        temp+=1
    x+=1
if temp==0:
    if '@' in st and '.' in st:
        start=0
        pos=None
        count=0
        while start<len(st):
            if '@'==st[start]:
                pos=start
                count+=1
            start+=1 
        if count==1:
            print(pos)
            if '.' in st[pos:]:
                c=0
                i=pos
                while i<len(st):
                    if '.'==st[i]:
                        c+=1
                    i+=1
                if 1<=c<=2:
                    print("valid")
                else:
                    print("invalid email")
            else:
                print("invalid email")
        else:
            print("invalid email")
    else:
        print("invalid email")
else:
    print("invalid email")

8
valid