In [4]:
# lst = [1, 2, 2, 3, 4, 4]
# print(list(set(lst)))  # Unordered

# # Ordered version:
# def remove_duplicates(lst):
#     seen = set()
#     result = []
#     for x in lst:
#         if x not in seen:
#             result.append(x)
#             seen.add(x)
#     print(seen)
#     return result

# print(remove_duplicates(lst))

lst_dup=[2,7,4,8,7,2,4]
def remove(lst_dup):
    sn=set()
    res = []
    for x in lst_dup :
        if x not in sn:
            res.append(x)
            sn.add(x)
    return res
print(sorted(remove(lst_dup)))

[2, 4, 7, 8]

In [6]:
def add_all(*args):
    return sum(args)
print(add_all(8,3,8))

19

In [9]:
def show_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")

show_details(name="Alice", age=30, city="NYC")

name = Alice
age = 30
city = NYC

In [1]:
def demo(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

demo(1, 2, 3, name="Bob", role="Developer" )

Args: (1, 2, 3)
Kwargs: {'name': 'Bob', 'role': 'Developer'}

In [ ]:
#Count Vowels in a String
inp='data validation'
def cont_vowels(inp):
    emp=0
    for x in inp:
        if x in 'aeiouAEIOU':
            emp+=1
    return emp
print(cont_vowels(inp))

7

In [ ]:
#Find the Second Largest Number
inp=[3, 1, 4, 4, 5, 5, 2]
def second_largest(inp)

In [ ]:
import cx_Oracle
import psycopg2  # Replace with your target DB connector (e.g., pyodbc, sqlalchemy, etc.)
# Connect to Oracle
oracle_conn = cx_Oracle.connect("user", "password", "host:port/service_name")
oracle_cursor = oracle_conn.cursor()
# Connect to Target Cloud DB (adjust depending on DB type)
target_conn = psycopg2.connect("dbname=yourdb user=youruser password=yourpass host=target_host")
target_cursor = target_conn.cursor()
# Row Count Comparison
oracle_cursor.execute("SELECT COUNT(*) FROM source_table")
oracle_count = oracle_cursor.fetchone()[0]
target_cursor.execute("SELECT COUNT(*) FROM target_table")
target_count = target_cursor.fetchone()[0]
print(f"Oracle Count: {oracle_count}, Target Count: {target_count}")
# Sample Data Comparison (for primary key based rows)
oracle_cursor.execute("SELECT id, name FROM source_table ORDER BY id FETCH FIRST 10 ROWS ONLY")
oracle_data = oracle_cursor.fetchall()
for row in oracle_data:
    id_val = row[0]
    oracle_name = row[1]

    target_cursor.execute("SELECT name FROM target_table WHERE id = %s", (id_val,))
    result = target_cursor.fetchone()
    if result and oracle_name != result[0]:
        print(f"Mismatch for ID {id_val}: Oracle='{oracle_name}', Target='{result[0]}'")
# Close connections
oracle_cursor.close()
target_cursor.close()
oracle_conn.close()
target_conn.close()