In [7]:
import pandas as pd

# Source and Target DataFrames
source_data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "department": ["Engineering", "HR", "Marketing", "Engineering", "Sales"],
    "hire_date": ["2020-01-15", "2019-03-12", "2021-06-23", "2022-11-01", "2020-09-19"],
    "salary": [60000, 45000, 50000, 70000, 55000],
    "manager_id": [101, 102, 101, 103, 102],
}
target_data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "department": ["Engineering", "HR", "Marketing", "Engineering", "Sales"],
    "hire_date": ["2020-01-15", "2019-03-12", "2021-06-23", "2022-11-01", "2020-09-19"],
    "salary": [60000, 45000, 50000, 70000, 55000],
    "manager_id": [101, 102, 101, 103, None],  # Note the missing manager_id
}
source_df = pd.DataFrame(source_data)
target_df = pd.DataFrame(target_data)
print("Source DataFrame:")
print(source_df)

print("\nTarget DataFrame:")
print(target_df)

Source DataFrame:
   id     name   department   hire_date  salary  manager_id
0   1    Alice  Engineering  2020-01-15   60000         101
1   2      Bob           HR  2019-03-12   45000         102
2   3  Charlie    Marketing  2021-06-23   50000         101
3   4    Diana  Engineering  2022-11-01   70000         103
4   5    Ethan        Sales  2020-09-19   55000         102

Target DataFrame:
   id     name   department   hire_date  salary  manager_id
0   1    Alice  Engineering  2020-01-15   60000       101.0
1   2      Bob           HR  2019-03-12   45000       102.0
2   3  Charlie    Marketing  2021-06-23   50000       101.0
3   4    Diana  Engineering  2022-11-01   70000       103.0
4   5    Ethan        Sales  2020-09-19   55000         NaN

In [8]:
# Count Check
if len(source_df) == len(target_df):
    print("Count Check Passed!")
else:
    print("Count Check Failed!")

Count Check Passed!

In [9]:
# Null Check for Manager ID in Target
null_check = target_df[target_df['manager_id'].isnull()]

if null_check.empty:
    print("Null Check Passed!")
else:
    print("Null Check Failed!")
    print(null_check)

Null Check Failed!
   id   name department   hire_date  salary  manager_id
4   5  Ethan      Sales  2020-09-19   55000         NaN

In [11]:
# Identify mismatched rows
mismatched_rows = pd.concat([source_df, target_df]).drop_duplicates(keep=False)

if mismatched_rows.empty:
    print("Data Integrity Check Passed!")
else:
    print("Data Integrity Check Failed!")
    print(mismatched_rows)

Data Integrity Check Failed!
   id   name department   hire_date  salary  manager_id
4   5  Ethan      Sales  2020-09-19   55000       102.0
4   5  Ethan      Sales  2020-09-19   55000         NaN

In [13]:
# Duplicate Check
duplicate_check = target_df.duplicated(subset=["id"], keep=False)

if not duplicate_check.any():
    print("Duplicate Check Passed!")
else:
    print("Duplicate Check Failed!")
    print(target_df[duplicate_check])

Duplicate Check Passed!

In [15]:
#check aggregated total salary 
if source_df["salary"].sum() == target_df["salary"].sum():
    print("aggregated salary check matched")
else:
    print("aggregated salary does not matched")
    print (f'source total:{source_df['salary'].sum()},target total:{target_df['salary'].sum()}')

aggregated salary check matched