In [5]:
print("hello world")

hello world

In [6]:
#was to initialize variable &value as 50
a=50
a=15.06
print(a)

15.06

In [7]:
#was to initialise values are 150,120,250
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [8]:
#was to print the type of data 
a={10,20}
print (type(a))

<class 'set'>

In [9]:
#was to print address of memory block
a={10,20}
print (id(a))
print(id({10,20}))
#different add because set is 64 bit

2037469798336
2037465070304

In [10]:
#was to print ,store,extract the details
name="nandini"
age=21
phone=1234567890
email="nandiniearla8601@gmail.com"
ht=5.5
pancard=True
print(name,age,phone,email,ht,pancard)

nandini 21 1234567890 nandiniearla8601@gmail.com 5.5 True

In [11]:
#was to swap the 2 num's with temp variable
a=1
b=2
temp=a
a=b
b=temp
print(a)
print(b)

2
1

In [12]:
#wap to swap 2 num without temp var
a=(10,20)
b={30,40}
a,b=b,a
print(a)
print(b)

{40, 30}
(10, 20)

In [13]:
#wap initialize ,fetch,modify given dict
a={"a":"pyspiders"}
print(a)
print(a['a'])
#modify
a['a']='qspiders'
print(a['a'])
#reinitilize
a=[10,20,30]
print(a)
#concat
a+=[40,50,60]
print(a)

{'a': 'pyspiders'}
pyspiders
qspiders
[10, 20, 30]
[10, 20, 30, 40, 50, 60]

In [14]:
#11#was to convert single to multi value datatype
a=10
print(list(str(a)))
b='ab'
print(list(str(b)))

['1', '0']
['a', 'b']

In [15]:
#12#was to concat 2 multi value dt
  #str
a="hello"
a+="world"
print(a)
y=[10,20,30]
y+="hai"
print(y)
z=[10,20,30]
z+={'a':'b','c':'d'}
print (z)
#list does not concat tuple vice versa

helloworld
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 'a', 'c']

In [16]:
#was check len of collection
t=[10,20]
print (len(t))
s='qwertyuiopasdfghjklzxcvbnm'
print(len(s))
print(type(t))
print(type(s))

2
26
<class 'list'>
<class 'str'>

In [17]:
#14#finf middle value of collection
d=[10,20,30,40,50,60]
print (d[len(d)//2])

40

In [18]:
#15 was to concat new string into starting,ending and middle of the string
a="how r u"
b='hai'
a=b+" "+a
print(a)
a=a+" "+b
print (a)
c='nandini'
a=b+' '+c+' '+a
print(a)

hai how r u
hai how r u hai
hai nandini hai how r u hai

In [19]:
#18 was to modify the new character in middle of the string
s="pyspiders"
print(s[0:len(s)//2]+'I'+s[(len(s)//2)+1:])

pyspIders

In [20]:
#19 was to modify the sequence of char in str
s="pyspiders"
print(s[0:3]+"PID"+s[6:])
# varname[si:sp]+new+s[sp+1:ei]

pysPIDers

In [21]:
#20# was to replace the old char into new char of given str
s="pyspiders"
print(s[:-4]+'D'+s[-3:])
s="pyspiders"
print(s[:5]+'D'+s[6:])

pyspiDers
pyspiDers

In [22]:
#21 delete specific char in str
s="pyyspiders"
print(s[:2]+s[3:])
#varname [si:sp]+var[sp+1:ei]

pyspiders

In [23]:
#22was to add new str in sp
s="hai are you"
print(s[0:3+1]+"how"+" "+s[4:])

hai how are you

In [24]:
#23 del sequence of char in str
s="pyspiders"
print(s[3:]+s[6:])

pidersers

In [25]:
#24concat new value into starting of list
s=[1,2,3]
s=['a','b']+s
print(s)

['a', 'b', 1, 2, 3]

In [26]:
#25was to concat new value into ending of list
r=['a','c','b']
r=r+[10,20]
print(r)
#var=Exi val+[new val]
#var+=[new val]

['a', 'c', 'b', 10, 20]

In [27]:
#26 was to concat new value into middle of list
l=[10,150.12,True,'hai']
l[len(l)//2:len(l)//2]=['10','20']
print(l)
#[length//2:len//2]

[10, 150.12, '10', '20', True, 'hai']

In [28]:
#27 was to concate new value in sp in list
s=[10,150.12,True,"hai"]
s[2:2]=[100,200]
print(s)
#[si:sp] same

[10, 150.12, 100, 200, True, 'hai']

In [1]:
#28was to modify the value in sp
s=[10,150.12,True,"hai"]
s[1]=15+6j
print(s)
#varname[ind]=new val

[10, (15+6j), True, 'hai']

In [4]:
#29was modify new value at starting
s=[10,150.12,True,"hai"]
s[-4]={'cde':100}
print(s)

[{'cde': 100}, 150.12, True, 'hai']

In [5]:
#30 was to modify new value at ending of list
s=[10,150.12,True,"hai"]
s[-1]={'name':'nandini'}
print(s)

[10, 150.12, True, {'name': 'nandini'}]

In [6]:
#31 was to modify new value at middle of list
s=[10,150.12,True,"hai"]
s[len(s)//2]="false"
print(s)

[10, 150.12, 'false', 'hai']

In [9]:
#32 was to modify first 4 positions value in list
s=[10,20,30,40,50,60,]
s[0:4]=['a','b','c','d']
print(s)

['a', 'b', 'c', 'd', 50, 60]

In [11]:
#33 was to modify seq of value in list
s=[1,2,3,4,5,6,7,8,9]
s[1::2]=[22,44,66,88]
print(s)
d=[1,3,4,5,16,7,64,6,81,15]
d[0::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2]
print(d)
##var[si:ei+1:up]=[val1,val2..]

[1, 22, 3, 44, 5, 66, 7, 88, 9]
[1, 3, 16, 5, 256, 7, 4096, 6, 6561, 15]

In [12]:
#34 was to  delete the values in sp of list
s=[1,2,3,4,5,6,7,8,9]
del s[4]
print(s)
## del var[ind]

[1, 2, 3, 4, 6, 7, 8, 9]

In [13]:
#35 was to delete value at end of list
s=[1,2,3,4,5,6,7,8,9]
del s[-1]
print(s)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#36 was to del value at starting without keyword
s=[1,2,3,4,5,6,7,8,9]
s[0:1]=[]
print(s)

[2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#37 was to delete at the middle of list
s=[1,2,3,4,5,6,7,8,9]
del s[len(s)//2]
print(s)

[1, 2, 3, 4, 6, 7, 8, 9]

In [23]:
#38 was to concat at starting of tuple
#vn=n.v+e.v(only multi value)
s=(20,30,40,50)
s=(10,)+s
print(s)

(10, 20, 30, 40, 50)

In [25]:
#39 was to concat middle of tuple
s=(10,20,40,50,)
s=s[:2]+(30,)+s[2:]
print(s)

(10, 20, 30, 40, 50)

In [28]:
#40  concat ending of tuple
s=(10,20,30,40,)
s=s+(50,)
print(s)

(10, 20, 30, 40, 50)

In [30]:
#41  modify seq in tuple 
s=(10,20,30,40,50,60)
s=s[0:3]+(1,2,3)+s[3+1:]
print(s)
#var[si:sp]+nv+var[sp+1:ei]

(10, 20, 30, 1, 2, 3, 50, 60)

In [33]:
#42 was del seq 
s=(1,2,3,4)
s=s[0:1]+()+s[2:]
print(s)

(1, 3, 4)

In [38]:
#43 was to concat new value into set
s={1,2,3,4,5,6}
s=s|{10,20,'a'}
print(s)

{1, 2, 3, 4, 5, 6, 10, 20, 'a'}

In [42]:
#44 was del sv in set
s={1,2,3,4,5,6,7,8}
s=s-{4,5,6}
print(s)

{1, 2, 3, 7, 8}

In [44]:
#45 was concat new key and value in dict
#single
a={'a':150}
a['b']=250
print (a)
#multi
b={'a':150,'b':250}
b|={'c':350,'d':450}
print(b)

{'a': 150, 'b': 250}
{'a': 150, 'b': 250, 'c': 350, 'd': 450}

In [45]:
#46 was to del specific key and value in dict
a={'a':'hai','b':100,'c':200}
del a['a']
print(a)

{'b': 100, 'c': 200}

In [46]:
#47 was to modify in dict
a={'a':10,'b':50}
a['a']=100
print(a)

{'a': 100, 'b': 50}

In [39]:
#48was to concat list and tuple by type casting
l=['a','b','c']
s=(10,20,30)
print(l+list(s))

['a', 'b', 'c', 10, 20, 30]

In [41]:
#49 was to concat list and tuple without tc
a=['a','b','c']
s=(10,20,30)
a+=s
print(a)

['a', 'b', 'c', 10, 20, 30]

In [47]:
#50 was to check no is div by 3
n=9
print(n%3==0)

True

In [48]:
#51 was to check no div by 2 &6
n=12
print(n%2==0 and n%6==0)

True

In [4]:
#52 was to check last digit div by 3 without ind
n=1996
print((n%10)%3)==0

0

False

In [6]:
##53 was last digit extract
n=1999
print(n%10)

9

In [8]:
#54 last digit div by 3 with type casting
n=2026
print(str(n))
print(str(n)[-1])
print(int(str(n)[-1]))
n=2024
print(int(str(n)[-1])%3==0)
n=2026
print(int(str(n)[-1])%3==0)

2026
6
6
False
True

In [9]:
#55 no greater than 150
n=180
print(n>150)

True

In [10]:
#56 was no greater than or eq to 100
n=100
print(n>=100)

True

In [11]:
#57 was no less than 150 
n=180
print(n<150)

False

In [12]:
#58 was no less than eq to 100
n=100
print(n<=100)

True

In [13]:
#59 no greater than 15 & less than 24
n=20
print(15<n<24)

True

In [14]:
#60 check no is even
n=4
print(n%2==0)

True

In [15]:
#61 check no is odd
n=5
print(n%2!=0)

True

In [16]:
#62 wae check replication of str with 6
s="abc"
print(s*6)

abcabcabcabcabcabc

In [17]:
#63 wae to no div by 3 and greater thana 22
n=24
print(n%3==0 and n>22)

True

In [19]:
#64 wae to perform length of collection is even or not
d="pyspiders"
print(len(d))
print((len(d)%2==0))

9
False

In [20]:
#65 was to check len of collection less than 55 greater than 16
r='asdfghjklqwertzxcvb'
print(len(r)>16 and len(r)<55)
#16<len(r)<55

True

In [21]:
#66 was to check len of coll is div by 5 and is odd
a='abcde'
print(len(a)%5==0 and len(a)%2!=0)

True

In [22]:
#67 was check middle positionof collection
s="hai"
print(len(s)//2)

1

In [34]:
#68 check no greater than 20 and less than 30  and shd be even
s=26
print(20<s<30 and s%2==0)

True

In [35]:
#69 no shd be even and should be less than 120
s=110
print(s%2==0 and s<120)

True

In [36]:
#70 no is even present from 40 to 70
n=60
print(n%2==0 and 40<n<70)

True

In [37]:
#71 no is odd and greater than 97
n=99
print(n%2!=0 and n>97)

True

In [38]:
#72 wae no less than 122 and gre than 48 no shd be divisible by 4
n=120
print(n%4==0 and 48<n<122)

True

In [39]:
#73 wae no is div by 3 or 5 
n=15
print(n%3==0 or n%5==0)

True

In [40]:
#74 check nois b/w 100 to 200 including limit
n=150
print(100<=n<=200)

True

In [41]:
#75 check no is 100 to 200 
n=100
print(100<n<200)

False