USer Defined Functions

In [11]:
#casefold
st='HELLO WORLD123UPhai'
st.casefold()

'hello world123uphai'

In [12]:
#caseold function
st='HELLO WORLD123UPhai'
def Casefold(coll):
    res=''
    for i in st:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    print(res)
Casefold(st)

hello world123uphai

In [13]:
#lower with return
st='HELLO WORLD123haiHYDERABAD'
def Lower(coll):
    res=''
    for i in st:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
Lower(st)

'hello world123haihyderabad'

In [14]:
#upper 
st='hello world123 hai hyderabad'
def upper(coll):
    res=''
    for i in coll:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        else:
            res+=i
    return res
upper(st)

'HELLO WORLD123 HAI HYDERABAD'

In [15]:
st='hello world123 hai hyderabad'
st.isupper()

False

In [16]:
#swap case
st='HELLO worldU123Phai'
def Swap_case(coll):
    res=''
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        elif 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
Swap_case(st)

'hello WORLDu123pHAI'

In [17]:
st='HELLOWORLDUPhai'
st.isalpha()

True

In [18]:
#isalpha function
st='HELLOW ORLDUPhai'
def Isalpha(coll):
    res=''
    for i in st:
        if not('a'<=i<='z' or 'A'<=i<='Z'):
            return False
    return True
Isalpha(st)

False

In [19]:
st='1eryryt23456'
st.isalnum()

True

In [20]:
#isallnum 
st='123456347890'
def Isallnum(coll):
    res=''
    for i in st:
        if not('0'<=i<='9' or 'a'<=i<='z' or 'A'<=i<='Z'):
            return False
    return True
Isallnum(st)

True

In [21]:
st='2356'
st.isnumeric()

True

In [22]:
st='2356'
st.isdigit()

True

In [23]:
st='123452'
st.isdecimal()

True

In [24]:
#isnumeric  #isdigit  #isdecimal
st='1234564347890'
def IsnumericDigitDecimal(coll):  
    for i in coll:
        if not('0'<=i<='9'):
            return False
    return True
IsnumericDigitDecimal(st)

True

In [25]:
'@eLLO wOrld123hAi #ety 12t 2f 2#f r@#$ they $tery tuyi $eryt @rtuy $'.title()

'@Ello World123Hai #Ety 12T 2F 2#F R@#$ They $Tery Tuyi $Eryt @Rtuy $'

In [26]:
#title case
st='@eLLO wOrld123hAi #ety 12t 2f 2#f r@#$ they $t123ery tuyi $eryt @rtuy #s'
def u_title(coll):
    temp=0
    res=''
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        temp=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        temp=1
    while temp<len(coll):
        if not ('A'<=coll[temp]<='Z' or 'a'<=coll[temp]<='z') and len(coll)-1 != temp:
            res+=coll[temp]
            if 'a'<=coll[temp+1]<='z':
                res+=chr(ord(coll[temp+1])-32)
                temp+=1
            elif 'A'<=coll[temp+1]<='Z':
                res+=coll[temp+1]
                temp+=1
        elif 'A'<=coll[temp]<='Z':
            res+=chr(ord(coll[temp])+32)
        else:
            res+=coll[temp]
        temp+=1
    return res
u_title(st)

'@Ello World123Hai #Ety 12T 2F 2#F R@#$ They $T123Ery Tuyi $Eryt @Rtuy #S'

In [27]:
a=(256>>2)<<1
a

128

In [28]:
d=(1*2+2*3/3)/2*2+2
d

6.0

In [29]:
a=127&0x20
a

32

In [30]:
m=rotZ(0)
for i=0 i<1000000000 i+=1:
    m=m*rotZ(1)
print(m)

SyntaxError: invalid syntax (594216190.py, line 2)

In [ ]:
'@eLLO wOrld123hAi #ety 12t 2f 2#f r@#$ they $tery tuyi $eryt @rtuy '.title()

'@Ello World123Hai #Ety 12T 2F 2#F R@#$ They $Tery Tuyi $Eryt @Rtuy '

In [ ]:
st='@eLLO wOrld123hAi #ety r@#$they   $terytuyi eryt @rtuy'
st.title()

'@Ello World123Hai #Ety R@#$They   $Terytuyi Eryt @Rtuy'

In [ ]:
#istitle()
st='Hello World123Hi 123 R#$w #E %'
def u_title(coll):
    if 'a'<=coll[0]<='z':
        return False
    i=0
    while i<len(coll):
        if not ('A'<=coll[i]<='Z' or 'a'<=coll[i]<='z'):
            if 'a'<=coll[i+1]<='z':
                return False
        i+=1
    return True
u_title(st)

False

In [ ]:
#space
st='  '
st.isspace()

True

In [ ]:
st='  '
def Isspace(coll):
    if len(coll)==0:
        return False
    for i in coll:
        if i!=' ':
            return False
    return True
Isspace(st)

True

In [ ]:
st=['ax','bx']
'_'.join(st)

'ax_bx'

In [ ]:
st=['']
'_'.join(st)

''

In [ ]:
st=['ab','cd','ef','abc']
def join(coll,sep=''):
    for i in coll:
        if type(i)!=str:
            return False
        res=''
        for i in coll:
            res=res+i+sep
        if sep=='':
            return res
        else:
            return res[:-len(sep):]
join(st,'--')

'ab--cd--ef--abc'

In [ ]:
#center()
st='abc'
st.center(10,'-')

'---abc----'

In [ ]:
#user defined center case
st='abc'
def u_center(coll,width,fillchar=''):
    res=width-len(coll)
    l= res//2
    r=res-1
    res=fillchar*l+coll+fillchar*r
    return res
u_center(st,5,'-')

'-abc-'

In [ ]:
st='if'
st.isidentifier()

True

In [ ]:
st='helloworlllllld'
st.count('l')

8

In [ ]:
#count function
st='helloworlllllld'
def u_count(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    count=0
    for i in range(start,end):
        if coll[i]==ele:
            count+=1
    return count
u_count(st,'l',5)

6

In [ ]:
#find function
st='helloworlllllld'
st.find('l')

0

In [ ]:
#index function
st='helloworlllllld'
st.index('l')

2

In [37]:
#find and index function
st='helloworld'
def u_index(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    while start<end:
        if ele==coll[start]:
            return start
        start+=1
u_index(st,'l')

2

In [ ]:
#rfind 
st='helloworld'
def u_rfind(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)-1
    if ele not in coll[start:end]:
        return -1
    while end>start:
        if coll[end]==ele:
            return end
        end-=1
u_rfind(st,'l',1,5)   #start<end

3

In [ ]:
# first occurance
st='laptop'
def firstoccurance(coll,a):
    for i in range(0,len(coll)):
        if st[i]==a:
            return i
firstoccurance(st,'p')

2

In [ ]:
#specific occurance
st='laptoplaptop'
def occurance(coll,a,n):
    count=0
    for i in range(0,len(coll)):
        if st[i]==a:
            count+=1
            if n==count:
                return i
occurance(st,'p',4)

11

In [ ]:
# nth occurance specific char
st="laptoplaptop "
def u_index(coll,ele,n,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    count=0
    for i in range(start,end):
        if ele==coll[i]:
            count+=1
        if count==n:
            return i
    return -1
u_index(st,'p',3)

8

In [ ]:
#nth occurance
st="laptoplaptop "
def u_nthoccur(coll,chr,n):
    count=0
    for i in range(0,len(coll)):
        if chr==coll[i]:
            count+=1
        if count==n:
            return i
u_nthoccur(st,'p',4)

11

In [ ]:
# last occurance specific character
st="laptoplaptop "
def u_find(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    l=[]
    while start<end:
        if coll[start]==ele:
            l+=[start]
        start+=1
    return l[-1]
u_find(st,'p')

11

In [ ]:
#max count
st='laptoplaptopz'
def u_max(coll):
    d={}
    for i in coll:
        if i not in d:
            d[i]=1
        else:
            d[i]+=1
    max=0
    ch=None
    for i in d:
        if max<d[i]:
            max=d[i]
            ch=i
    return ch,max
u_max(st)

('p', 4)

In [ ]:
# max first repeated character
st="laptoplaptoptttt"
def u_find(coll,start=0,end=None):
    if end==None:
        end=len(coll)
    d={}
    while start<end:
        if  coll[start] not in d:
            d[coll[start]]=1
        else:
            d[coll[start]]+=1
        start+=1
    print(d)
    l=list(d)
    print(l)
    i=0
    max=len(st)
    ch=None
    while i<len(l):
        if max<d[l[i]]:
            max=d[l[i]]
            ch=l[i]
        i+=1
    return ch
u_find(st,0,11)

{'l': 2, 'a': 2, 'p': 3, 't': 2, 'o': 2}
['l', 'a', 'p', 't', 'o']

In [ ]:
#min count
st='laptoplaptopz'
def u_min(coll):
    d={}
    for i in coll:
        if i not in d:
            d[i]=1
        else:
            d[i]+=1
    min=len(coll)
    ch=None
    for i in d:
        if min>d[i]:
            min=d[i]
            ch=i
    return ch,min
u_min(st)

('z', 1)

In [ ]:
 # min first repeated chararcter
st="aptopaptzop"
def u_find(coll,start=0,end=None):
    if end==None:
        end=len(coll)
    d={}
    while start<end:
        if  coll[start] not in d:
            d[coll[start]]=1
        else:
            d[coll[start]]+=1
        start+=1
    print(d)
    l=list(d)
    i=0
    min=0
    while i<len(l):
        if min<d[l[i]]:
            min=d[l[i]]
            return l[i]
        i+=1
u_find(st)

{'a': 2, 'p': 4, 't': 2, 'o': 2, 'z': 1}

'a'

In [ ]:
def table(n):
    for i in range(1,11):
        print(n,'*',i,'=',n*i)
table(19)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:
#PYSPIDERS
#SrEdLpSyP
st='PYSPIDERS'
def reverse(coll):
    res=''
    for i in range(0,len(st)):
        if i%2!=0:
            res+=chr(ord(st[i])+32)
        else:
            res+=st[i]    
    return res[::-1]
reverse(st)

'SrEdIpSyP'

In [2]:
st="I love india I love my country"
def words(coll):
    d= {}
    words = coll.split()
    for i in words:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
    return d
words(st)

{'I': 2, 'love': 2, 'india': 1, 'my': 1, 'country': 1}

In [1]:
def cube_series(n):
    cube = {}
    for i in range(1,11):
        cube[i] = i ** 3
    return cube
cube_series(10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [14]:
def fibonacci(n):
    if n <= 0:
        return None
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        a, b = 0, 1
        for _ in range(n - 2):
            c = a + b
            a, b = b, c
        return b
fibonacci(10)

34

In [13]:
#remove prefix
st=' _  hello world haii'
st.removeprefix(' ')

'_  hello world haii'

In [17]:
#split 
st='hello world welcome to pys'
st.split('l',3)

['he', '', 'o wor', 'd welcome to pys']

In [23]:
st='hello world welcome to pys'
def u_split(coll,ele,maxsplit=None):
    if maxsplit==None: maxsplit=len(coll)
    l=[]
    r=''
    index=0
    for i in coll:
        if i!=ele:
            r+=i
        else:
            l+=[r]
            r=''
        index+=1
        if len(l)==maxsplit:
            return l+[coll[index:]]        
u_split(st,'e',3)

['h', 'llo world w', 'lcom', ' to pys']

In [21]:
#rsplit
st='hello world welcome to pys'
st.rsplit('e',5)

['h', 'llo world w', 'lcom', ' to pys']

In [28]:
#rsplit
st='hello world welcome to pys'
def u_rsplit(coll,ele,maxsplit=None):
    l=[]
    s=''
    start=0
    end=len(coll)-1
    while end>start:
        if ele!=coll[end]:
            s=coll[end]+s
        elif len(s)!=0:
            l=[s]+l
            s=''
            if len(l)==maxsplit:
                return[coll[:end]]+1
        end-=1
    if len(s)!=0:
        l=[s]+l
    return l
print(u_rsplit(st,'e',5))

['llo world w', 'lcom', ' to pys']

In [29]:
#count
st='hello world welcome to pys'
st.count('l')

4

In [38]:
#count
st='hello world welcome to pys'
def u_count(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    count=0
    for i in range(start,end):
        if coll[i]==ele:
            count+=1
    return count
u_count(st,'l',5)

2

In [7]:
#rfind
st='hello world welcome to pys'
def u_rfind(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)-1
    if ele not in coll[start:end]:
        return -1
    while end>start:
        if coll[end]==ele:
            return end
        end-=1
u_rfind(st,'l')

3

In [13]:
st='hello world welcome to pys'
st.startswith('hello')

True

In [42]:
#starts with
st='hello to world welcome to pys'
def u_startswith(coll,sub,start=0,end=None):
    if end==None:
        end=start+len(sub)
    if sub not in coll[start:]:
        return False
    res=''
    while start<end:
        res+=coll[start]
        start+=1
    return (res==sub)
u_startswith(st,'to',6)

True

In [45]:
#ends with
st='hello world welcome to pys'
def u_endwith(coll,sub,start=0,end=None):
    if end==None:
        end=len(coll)
    st=''
    while start<end:
        st+=coll[start]
        start+=1
    i=len(st)-len(sub)
    res=''
    while i<len(st):
        res+=st[i]
        i+=1
    return(res==sub)
u_endwith(st,'hello',5,9)

False

In [47]:
#replace 
st='hello world welcome to pys'
st.replace('w','W')

'hello World Welcome to pys'

In [48]:
#replace
def u_replace(coll,old,new):
    res=''
    for i in coll:
        if i in coll:
            if i==old:
                res+=new
            else:
                res+=i
    return res
u_replace(st,'w','W')

'hello World Welcome to pys'

In [52]:
#replace with count
st='hello world world welcome to www pys'

def u_replace(coll,old,new,count=None):
    if count==None:
        count=len(coll)
    c=1
    res=''
    for i in coll:
        if i==old and c<=count:
            res+=new
            c+=1
        else:
            res+=i
    return res
u_replace(st,'w','W',2)

'hello World World welcome to www pys'

In [57]:
#mul characters
st='hello world welcome to pys'
def u_replace(coll,old,new):
    start=0
    while start<len(coll):
        if coll[start]==old[0]:
            if old==coll[0:start+len(coll)]:
                coll=coll[0:start]+new+coll[start+len(old):]
        start+=1
    return coll
u_replace(st,'hel','bye')

'hello world welcome to pys'

In [8]:
st='\t\n hello \t haii'
st.lstrip()

'hello \t haii'

In [17]:
st='\t\n hello  haii \n\t'
st.strip()

'hello  haii'

In [27]:
#lstrip
st='\t\n hello \t haii \n'
def u_lstrip(coll,ele=[' ','\n','\t','\r','\f']):
    res=''
    for i in range (0,len(coll)):
        if coll[i] in ele:
            res=''
        else:
            res+=coll[i:]
            break
    return res
u_lstrip(st)

'hello \t haii \n'

In [25]:
st='\t\n hello \t haii\n\t\r\f'
def u_rstrip(coll,ele=[' ','\n','\t','\r','\f']):
    res=''
    for i in range(len(coll)-1,-1,-1):
        if coll[i] in ele:
            res=''
        else:
            res+=coll[:i+1]
            break
    return res
u_rstrip(st)

'\t\n hello \t haii'

In [33]:

st='\t\n hello \t haii \t\n'
def u_strip(coll,ele=[' ','\n','\t','r','\f']):
    res=''
    def u_strip(coll,ele=[' ','\n','\t','\r','\f']):
        temp=u_lstrip(coll,ele)
        res=u_rstrip(coll,ele)
    return res
u_strip(st)

''

LIST BUILTIN FUNCTIONS

In [4]:
#append
l=[10,20,30,40]
l.append({'a':10})
print(l)

[10, 20, 30, 40, {'a': 10}]

In [18]:
#append user defined        any data types
l=[10,20,30,40]
def u_append(coll,ele):
    if type(coll)!=list:
        raise TypeError ("coll shd be in list")
    coll+=[ele]
    return coll
u_append(l,10)
print(l)

[10, 20, 30, 40, 10]

In [14]:
#extend
l=[10,20,30,40]
l.extend('hi hello')
print(l)

[10, 20, 30, 40, 'h', 'i', ' ', 'h', 'e', 'l', 'l', 'o']

In [22]:
#extend    collection data types
l=[10,20,30,40]

def u_extend(coll,ele):
    if type(coll)!=list:
        raise TypeError("coll shd be in list")
    if type(ele) not in [list,str,tuple,set,dict]:
        return -1
    for i in ele:
        coll+=[i]
u_extend(l,'hi')
print(l)

[10, 20, 30, 40, 'h', 'i']

In [26]:
#insert
l=[10,20,30,40]
l.insert(2,100)
print(l)

[10, 20, 100, 30, 40]

In [28]:
#insert
l=[10,20,30,40]
def u_insert(coll,ind,ele):
    if type(coll)!=list and type(ind)!=int:
        return -1
    coll[ind:ind]=[ele]
u_insert(l,2,100)
print(l)

[10, 20, 100, 30, 40]

In [2]:
l=[10,20,30,40,50]
l.index(10)

0

In [6]:
#index
l=[10,20,30,40,50]
def u_index(coll,ele):
    if type(coll)!=list or ele not in coll:
        return -1
    for i in range(0,len(coll)):
        if coll[i]==ele:
            return i
u_index(l,50)

4

In [15]:
#copy
l=[10,20,30,40,50]
print(id(l),l)

x=l.copy()
print(id(x),x)

1984089459264 [10, 20, 30, 40, 50]
1984089363456 [10, 20, 30, 40, 50]

In [14]:
#copy
l=[10,20,30,40,50]
print(id(l),l)

def u_copy(coll):
    if type(coll)!=list:
        return -1
    res=[]
    for i in coll:
        res+=[i]
    return res
x=u_copy(l)
print(id(x),x)

1984089478144 [10, 20, 30, 40, 50]
1984089480128 [10, 20, 30, 40, 50]

In [25]:
#pop
l=[10,20,30,40,5,0]
l.pop()
print(l)

[10, 20, 30, 40, 5]

In [22]:
#pop
l=[10,20,30,40,5,0]

def u_pop(coll,index=-1):
    if type(coll)!=list:
        return -1
    del coll[index]
u_pop(l)
print(l)

[10, 20, 30, 40, 5]

In [36]:
#remove
l=[10,10,20,30,40,5,0]
l.remove(10)
print(l)

[10, 20, 30, 40, 5, 0]

In [35]:
#remove
l=[10,10,20,30,40,5,0]

def u_remove(coll,ele):
    if type(coll)!=list or ele not in coll:
        return -1
    for i in range(0,len(coll)-1):
        if ele==coll[i]:
            del coll[i]
            #break
u_remove(l,10)
print(l)

[10, 20, 30, 40, 5, 0]

In [ ]:
'qwertyuiopasdfghjklzxcvbnm'

TUPLE BUILTIN FUNCTIONS

In [36]:
#count
st=(10,20,30,40,50,10,20,30,40)
def u_count(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    count=0
    for i in range(start,end):
        if coll[i]==ele:
            count+=1
    return count
u_count(st,10)

2

In [40]:
#index
st=(10,20,30,40,50,10,20,30,40)
def u_index(coll,ele,start=0,end=None):
    if end==None:
        end=len(coll)
    if ele not in coll[start:end]:
        return -1
    while start<end:
        if ele==coll[start]:
            return start
        start+=1
u_index(st,50)

4

SET BUILTIN FUNCTIONS

In [46]:
#intersection
st={10,20,40,50,'abc','qwe',100}
i={10,20,30,70}
st.intersection(i)
#print(st.intersection_update(i))

{10, 20}

In [68]:
st={10,20,40,50,'abc','qwe',100}
print(id(st),st)

print(st.difference({'abc'}))
print(id(st),st)

2459872947200 {50, 100, 20, 'qwe', 40, 10, 'abc'}
{100, 40, 10, 50, 20, 'qwe'}
2459872947200 {50, 100, 20, 'qwe', 40, 10, 'abc'}

In [67]:
st={10,20,40,50,'abc','qwe',100}
print(id(st),st)

print(st.difference_update({'abc'}))
print(id(st),st)

2459872944512 {50, 100, 20, 'qwe', 40, 10, 'abc'}
None
2459872944512 {50, 100, 20, 'qwe', 40, 10}

In [71]:
#difference
st={10,20,40,50,'abc','qwe',100}
st2={20,30,40,'abc'}
print(id(st),st)
def u_diff(coll,coll2):
    if type(coll)!=set:
        return -1
    if type(coll2) in [list,tuple,dict]:
        return -1
    temp=[]
    for i in coll:
        if coll[i]!=temp[i]:
            return 
    
    #coll-={ele}
u_diff(st,st2)
print(id(st),st)

2459872948096 {50, 100, 20, 'qwe', 40, 10, 'abc'}
2459872948096 {50, 100, 20, 'qwe', 40, 10, 'abc'}

In [ ]:
#